// .above-footer {
//     position: absolute;
// }

.wave {
    width: 100%;
    height: auto;

    img {
        display: block;
        max-width: 100%;   
    }
}

//Tablet Query
@media screen and (min-width: $breakpoint-tablet) {
    .above-footer {
        display: flex;
    }
}