.contact {
  background-color: #244a64;
  padding-top: 30px;

  a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 7px 20px;
  }
}

.contact h2 {
 @include contact-h2;
}

.contact h3 {
 @include contact-h3;
}

//Tablet Query
@media screen and (min-width: $breakpoint-tablet) {
  .contact {
    width: 50%;
    position: relative;
    a {
      background-color: #429bd6;
      color: #ffffff;
      border: none;
    }

    h2 {
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
    }

    h3 {
      position: absolute;
      top: 55%;
      width: 100%;
    }
  }
}
