.contact {
  background-color: #244a64;
  padding-top: 30px;

  a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 7px 20px;
  }
}

.contact h2 {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  font-family: $heading-font;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
}

.contact h3 {
  background-color: #244a64;
  color: #ffffff;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: $body-font;
  align-content: center;
  text-transform: uppercase;
  text-align: center;
}

//Tablet Query
@media screen and (min-width: $breakpoint-tablet) {
  .contact {
    width: 50%;
    position: relative;
    a {
      background-color: #429bd6;
      color: #ffffff;
      border: none;
    }

    h2 {
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
    }

    h3 {
      position: absolute;
      top: 55%;
      width: 100%;
    }
  }
}
