.contact{
    background-color: #244a64;
    padding-top: 30px;
   
  
}


.contact h2{
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    font-family: $heading-font;
    padding-right: 8px;
    padding-left:8px;
}

.contact-us{
   background-color: #244a64;
   color: #ffffff;
   padding-top: 6px;
   padding-bottom: 6px;
   border: 1px #ffffff solid;
   margin-bottom: 30px;
   font-family: $body-font;
   align-content: center;
   text-transform: uppercase;
   margin-left: 100px;
   
  
}