.wave {
    overflow: hidden;
    width: 100%;
    height: auto;

    img {
        display: block;
        max-width: 100%;
        position: relative;
    }
}

.siteFooterBar {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #009ddc;
}

.image {
    margin-bottom: 1.3rem;
}

.icons {
    height: 1.5rem;
    margin-left: 0cm;
    margin-top: 0.2r;
}

.icons_2 {
    height: 1.5rem;
    margin-left: 0.3rem;
}

.icons_3 {
    margin-left: 0.3rem;
    height: 1.2rem;
}

.footer-info {
    display: inline;
    margin-left: 2rem;
}

.footer-info_2 {
    display: inline;
    margin-left: 2rem;
}

.copyright {
    font-size: 1rem;
    text-align: center;
}

/* Tablet Query */
@media screen and (min-width: $breakpoint-tablet) {
    .siteFooterBar {
        flex-direction: row;
        justify-content: space-around;
    }

    .image {
        margin-bottom: 1.2rem;
        width: 180px;
    }

}

@media all and (min-width: $breakpoint-desktop) {
    .copyright {
        text-align: right;
    }
}