footer {
  position: absolute;
  font-family: $heading-font;
}

.siteFooterBar {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #009ddc;

  .footer-logo {
    margin-bottom: 2rem;
  }

  .footer-links {
    .icons {
      height: 1.5rem;
      margin-left: 0.3rem;
    }

    .footer-info {
      display: inline;
      margin-left: 2rem;
    }

    .copyright {
      font-size: 1rem;
      text-align: center;
    }
  }
}

/* Tablet Query */
@media screen and (min-width: $breakpoint-tablet) {
  .siteFooterBar {
    flex-direction: row;
    justify-content: space-around;
  }

  .image {
    margin-bottom: 1.2rem;
    width: 180px;
  }
}

@media all and (min-width: $breakpoint-desktop) {
  .copyright {
    text-align: right;
  }
}