.info {
  position: relative;

  p {
    font-family: $body-font;
  }

  h3 {
    display: inline;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 74%;
    }

  .about-content {
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 7px 20px;
  }
}

//Tablet Query
@media screen and (min-width: 758px) {
  .info {
    h2 {
      font-size: 4.5vw;
    }
  
    .about-content {
      top: 40%;
    }
  }
}

//Desktop Query
// @media screen and (min-width: 1024px) {
//   .info {
    
//     img {
//       width: 100%;
//     }
//   }
// }