.info {
  position: relative;

  p {
    font-family: $body-font;
  }

  h3 {
  @include info-h3;
    }

  .about-content {
   @include info-contact;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  a {
  @include info-a;
  }
}

//Tablet Query
@media screen and (min-width: $breakpoint-tablet) {
  .info {
    h2 {
      font-size: 4.5vw;
    }
  
    .about-content {
      top: 40%;
    }
  }
}