.info {
  position: relative;

  h3 {
    display: inline;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 74%;
    }

  .about-content {
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 7px 20px;
}
