.map {
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
  }

  h2 {
    @include map-h2;
  }

  h3 {
   @include map-h3;
  }

  a {
   @include map-a;
  }
}

//Tablet Query
@media screen and (min-width: $breakpoint-tablet) {
  .map {
    order: 2;
    width: 50%;
    a {
      background-color: #429bd6;
      color: #ffffff;
      border: none;
    }
  }
}