.map {
    position: relative;

    img {
        height: 100%;
        object-fit: cover;
    }

    h2 {
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        padding: 2rem;
        font-size: 2.4rem;
    }

    h3 {
        display: inline;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 74%;
        }

    a {
        color: black;
        text-decoration: none;
        border: 1px solid black;
        padding: 7px 20px;
      }
}