.map {
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
  }

  h2 {
    color: #666666;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 2rem;
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
  }

  h3 {
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
  }

  a {
    color: #666666;
    text-decoration: none;
    border: 1px solid #666666;
    padding: 7px 20px;
  }
}

//Tablet Query
@media screen and (min-width: $breakpoint-tablet) {
  .map {
    order: 2;
    width: 50%;
    a {
      background-color: #429bd6;
      color: #ffffff;
      border: none;
    }
  }
}