@mixin center-middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin email{
    
    border-style:none;
    padding-top: 8px;
    padding-bottom: 11px;
    font-size: 0.8rem;
    width: 200px;
    margin-top: 15px;
   // text-align:center;
}

@mixin submit-input{
    margin-left: 20px;
    width: 80px;
    padding-top:7px;
    padding-bottom:7px;
    margin-top: 10px;
    color: #ffffff;
    border-style:none;
    font-weight:bold;
    text-transform: uppercase;
    background-color: #429bd6;
}

@mixin product-table{
    
    padding-bottom: 5px;
    text-transform:uppercase;
    font-weight:bold;
    font-size: 0.5rem;
    display:flex;
    flex:column;
    padding-top: 10px;
}

@mixin newsletter-h2{
    color:#244a64;
    font-size: 0.97rem;
    text-align:center;
    font-weight:lighter;
}

@mixin main-newsletter{
    font-family: $body-font;
    background-color: #bedcef;
    padding: 10px;
    color:#ffffff;
}

@mixin form-container{
    font-family: $body-font;
    color: #ffffff;
    padding-left:10px;
    align-items:center;
}

@mixin word-wrapper{
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color:#ffffff;
    margin-top: 0;
}

@mixin word-wrapper-p{
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 25px;
    color: #ffffff;
    border-bottom: 1px #ffffff solid;
}

@mixin submit{
    padding-top: 10px;
    padding-bottom:10px;
    margin-left: 5px;
    color: #ffffff;
    width: 300px;
    border:none;
    margin-top :20px;

}

@mixin contact-h2{
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    font-family: $heading-font;
    padding-right: 8px;
    padding-left: 8px;
    width: 100%;
}

@mixin contact-h3{
    background-color: #244a64;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 6px;
    font-family: $body-font;
    align-content: center;
    text-transform: uppercase;
    text-align: center;
}

@mixin map-h2{
    color: #666666;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 2rem;
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
}

@mixin map-h3{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
}

@mixin map-a{
    color: #666666;
    text-decoration: none;
    border: 1px solid #666666;
    padding: 7px 20px;
}

@mixin info-h3{
    display: inline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 74%;
}

@mixin info-contact{
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
}

@mixin info-a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 7px 20px;
}