@mixin center-middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin email{
    
    border-style:none;
    padding-top: 8px;
    padding-bottom: 11px;
    font-size: 0.8rem;
    width: 200px;
    text-align:center;
}

@mixin submit-input{
    margin-left: 20px;
    width: 80px;
    padding-top:7px;
    padding-bottom:7px;
    border:none;
    color: #ffffff;
    font-weight:bold;
    text-transform: uppercase;
    background-color: #429bd6;
}

@mixin product-table{
    
    padding-bottom: 5px;
    text-transform:uppercase;
    font-weight:bold;
    font-size: 0.5rem;
    display:flex;
    flex:column;
    padding-top: 10px;
}