.newsletter{
    font-family: $body-font;
    background-color: #bedcef;
    padding: 10px;
    color:#ffffff;
    
}

.newsletter h2{
    color:#244a64;
    font-size: 0.97rem;
    font-weight:lighter;
}

.email{
    border-style:none;
    padding-top: 8px;
    padding-bottom: 11px;
    font-size: 0.8rem;
    width: 200px;
    text-align:center;
   
}

.submission{
    display:flex;
    flex:row;
}

.submit-input{
    margin-left: 20px;
    width: 80px;
    padding-top:7px;
    padding-bottom:7px;
    border:none;
    color: #ffffff;
    font-weight:bold;
    text-transform: uppercase;
    background-color: #429bd6;
}
