.newsletter{
   @include main-newsletter;

    @media (min-width: 700px){
        display:flex;
        flex:wrap;
        justify-content:center;
    }
   
}

.newsletter h2{
   @include newsletter-h2;

    @media (min-width: 1000px){
        font-size:1.5rem;
    }
}

.email{
@include email;
height:30px;

@media screen and (min-width: $breakpoint-mobile-mini) {
    width: 300px;
}

@media screen and (min-width: $breakpoint-tablet-mini) {
    margin-left: 20px;
    width: 300px;
    margin-left: 30px;
    margin-top: 10px;
}

@media screen and (min-width: $breakpoint-desktop-mini) {
    width: 350px;
    margin-left: 30px;
    margin-top: 20px;
}


   
}

.submission{
    display:flex;
    flex:row;
}

.submit-input{
    @include submit-input;

    @media (min-width: 400px){
        margin-top: 10px;
    }
    @media (min-width: 1000px){
        margin-top: 20px;
    }
}
