.newsletter{
    font-family: $body-font;
    background-color: #bedcef;
    padding: 10px;
    color:#ffffff;
    
}

.newsletter h2{
    color:#244a64;
    font-size: 0.97rem;
    font-weight:lighter;
}

.email{
@include email;
   
}

.submission{
    display:flex;
    flex:row;
}

.submit-input{
    @include submit-input;
}
