h1,
h2,
h3 {
  font-family: $heading-font;
}

.handlers {
  font-family: $body-font;
  text-align: center;
  padding: 1rem;
}

.handlers-row {
  display: flex;
  flex-direction: column;

  .product {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    img {
      width: 50%;
    }
  }

  .selector-link {
    position: absolute;
    visibility: hidden;
  }
}

.product:not(:last-child) {
  border-bottom: solid 1px #9692927c;
}

//Tablet query
@media screen and (min-width: 768px) {
  .handlers h2,
  .handlers h3 {
    font-size: 2rem;
    color: #429bd6;
  }

  .handlers h2 {
    color: #244a64;
    margin: 0;
  }

  .handlers-row {
    flex-direction: row;

    .product {
      flex-direction: column;
      border: none;
      width: 25%;

      img {
        width: 100%;
        height: auto;
      }

      h3 {
        margin-bottom: 0;
      }
    }

    .selector-link {
      position: relative;
      visibility: visible;
      a {
        color: grey;
      }
    }
  }

  .handlers-row:first-child {
    padding-top: 0;

    .selector-link a {
      margin-top: 2rem;
    }
  }
}

//Desktop query
