

.form-item-container {
    @include form-container;

    
    @media (min-width: 420px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction:row;
        margin-left: 10px;
    }
}
.word-wrapper {
    background-color: #154a66;
}
.word-wrapper h2 {
   @include word-wrapper;
}
.word-wrapper p {
    @include word-wrapper-p;
}
.product-table {
    @include product-table;
}

#product {
    font-size: 0.6rem;
    color: #666;
    background-color: #bbb;
    border: none;
    width: 250px;
    padding: 2%;

    @media (min-width: 800px) {
        width: 200px;
    
    }
}


.submit{
    
    @include submit;

    @media (min-width: 816px){
        width: 700px;
        margin-left: 25px;
       
    }

    @media (min-width: 1200px){
        width: 950px;
        margin-left: 80px;
       
    }


    @media (min-width: 1800px){
        width: 950px;
        margin-left: 220px;
        
    }

}

