
.product-wrapper{
    
    display:flex;
    flex:column;
    justify-content:center;

    
    @media (min-width: $breakpoint-tablet){
       .product-wrapper{
         margin-top: 80px;
         margin-bottom:80px;
           flex-direction: row;
           display:flex;
        }
    }
}

.word-wrapper{
    padding: 10px;
    background-color:#244a64;
    color: #ffffff;
    font-family:$body-font;
}

.word-wrapper h2{
    text-align:center;
    text-transform: uppercase;
    font-size: 1.2rem;
    
}

.word-wrapper p{
    text-align:center;
    font-size: 0.7rem;
    padding-bottom: 25px;
    border-bottom: 1px #ffffff solid;
    
}

.product-table{
    padding-bottom: 5px;
    text-transform:uppercase;
    font-weight:bold;
    font-size: 0.5rem;
    padding-top: 10px;
    padding-bottom:10px;
    margin-top: 20px;
}

#product {
    color:#666666;
    background-color:#bbbbbb;
    font-size:0.6rem;
    width:300px;
    border:none;
    padding-top:9px;
    padding-bottom:9px; 
    margin-top:10px;
    
    @media (min-width: $breakpoint-mobile){
        #product{
            margin-top: 80px;
            margin-bottom:80px;
         }
     }
}

.submit{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    color: #ffffff;
    width: 300px;
    //border:none;

}



