

.form-item-container {
    font-family: $body-font;
    color: #ffffff;
    padding-left:10px;
    align-items:center;

    
    @media (min-width: 420px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction:row;
        margin-left: 10px;
    }
}
.word-wrapper {
    background-color: #154a66;
}
.word-wrapper h2 {
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    color:#ffffff;
    margin-top: 0;
}
.word-wrapper p {
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 25px;
    color: #ffffff;
    border-bottom: 1px #ffffff solid;
}
.product-table {
    @include product-table;
}

#product {
    font-size: 0.6rem;
    color: #666;
    background-color: #bbb;
    border: none;
    width: 250px;
    padding: 2%;

    @media (min-width: 800px) {
        width: 200px;
    
    }
}


.submit{
    
    padding-top: 10px;
    padding-bottom:10px;
    margin-left: 5px;
    color: #ffffff;
    width: 300px;
    border:none;
    margin-top :20px;

    @media (min-width: 816px){
        width: 700px;
        margin-left: 25px;
       
    }

    @media (min-width: 1200px){
        width: 950px;
        margin-left: 80px;
       
    }


    @media (min-width: 1800px){
        width: 950px;
        margin-left: 220px;
        
    }

}

