
.product-wrapper{
    font-family: $body-font;
    background-color: #244a64;
    padding: 10px;
    color:#ffffff;
}


.product-wrapper h2{
    text-align:center;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.product-wrapper p{
    text-align:center;
    font-size: 0.7rem;
    padding-bottom: 25px;
    border-bottom: 1px #ffffff solid;
    
}

.product-table{
   @include product-table;

}

#product {
    padding-top: 9px;
    padding-bottom:9px;
    padding-right: 80px;
    font-size:0.6rem;
    width:300px;
    color:#666666;
    background-color:#bbbbbb;
    border:none;
}

.submit{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom:10px;
    color: #ffffff;
    width: 300px;
    //border:none;
    

}

@media screen and (min-width: $breakpoint-tablet){
        #product{
            display:flex;
            flex:row;

        .submit{
            width:800px;
        }
    }
}




