// Fonts
$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;

// Breakpoints


$colors: (
    main-product: #244a64,
    select-product-1: #edeeee,
    font-clr: #ffffff,
    select-product: #bbbbbb,
    product-font: #666666,
    product-btn: #429bd6,
    newsletter-bckground: #bedcef);



    $breakpoint-mobile: 340px;
    $breakpoint-tablet: 750px;
    $breakpoint-desktop: 1024px;
   