.promo-video {
    background-color: #009ddc;
    padding: 4rem;

    div {
        border: 1rem solid #154a66;
    }
}

//Desktop Query
@media screen and (min-width: $breakpoint-desktop) {
    .promo-video {
        padding: 3rem 14rem;
    }
}