.promo-video {
    background-color: #2697cc;
    padding: 4rem;

    div {
        border: 1rem solid #114861;
    }
}

//Desktop Query
@media screen and (min-width: 1024px) {
    .promo-video {
        padding: 3rem 14rem;
    }
}
